@model Triaje.Models.TriajeGeneral.TipoSigno

@{
    ViewData["Title"] = "Edit";
}

<h4 class="" style="font-family:Vogue; text-decoration:underline; text-align:center; color:brown;">Editar Tipo Signo</h4>
<hr />
<div class="row">
    <div class="col-12" style="font-family:Garamond;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTipoSignoGeneral" />
            <div class="form-group input-group">
                <div class="col-4">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <br />
                    <input type="submit" value="Guardar Cambios" class="btn text-light" style="font-family: Vogue; Background: brown" />
                    <a class="btn text-light" style="font-family: Vogue; Background: brown" asp-action="Index">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
