@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center text-info">
    <h1 class="display-4" style="font-family: Vogue; text-decoration:underline;">El mejor medico es el que inspira la esperanza</h1>
</div>
<br />
<div class="">
    <div class="col-12" style="font-family: Vogue ">
        <h3>¿Es la COVID-19 un punto de inflexión para el personal sanitario?</h3>
    </div>
    <div class="col-12" style="text-align: justify ; font-family: Garamond">
        <p>En 2015, las Naciones Unidas presentaron la Agenda para los Objetivos de Desarrollo Sostenible, en la que se destacaba la necesidad de garantizar
        una vida sana y promover el bienestar de todos a lo largo de la vida. El Objetivo 3 tiene por objeto asegurar que todos tengan acceso a la salud y a la
        cobertura sanitaria, y en 2019, la Asamblea General de las Naciones Unidas aprobó la declaración política de la reunión de alto nivel sobre cobertura
        universal de salud en la que se reafirma que "la salud es una condición previa y un resultado e indicador de las dimensiones sociales, económicas y
        ambientales del desarrollo sostenible". La Comisión de Alto Nivel sobre el Empleo en la Salud y el Crecimiento Económico señaló que las inversiones en
        la fuerza de trabajo sanitaria y social pueden estimular un crecimiento económico inclusivo. <a href="https://www.paho.org/journal/es/articulos/es-covid-19-punto-inflexion-para-personal-sanitario" class="btn btn-outline-info btn-sm">Enlace</a></p>
    </div>
</div>
<div class="">
    <div class="col-12" style="font-family: Vogue">
        <h3>Percepciones relacionadas con la trombosis y las vacunas contra la COVID-19</h3>
    </div>
    <div class="col-12" style="text-align: justify; font-family: Garamond">
        <p>Todas las vacunas pueden tener efectos adversos raros, pero durante la pandemia, el reporte de casos aislados de coágulos sanguíneos asociados a dos de
        las vacunas anti-COVID que usan adenovirus como vector viral (AZD1222 y Johnson & Johnson) ha generado preocupación en la población. , así como revisiones
        de emergencia, señales de seguridad y pausas de vacunación. Según varios informes, la trombosis asociada a la vacuna AZD1222 se presentó principalmente en
        mujeres menores de 55 años. Algunos gobiernos de países de ingresos altos que tienen más de un tipo de vacuna disponible, como el Reino Unido y Canadá, han
        dado instrucciones para administrar AZD1222 de acuerdo con grupos de edad específicos de aparente menor riesgo. Otros, como Dinamarca, dejaron de usar esa
        vacuna de forma indefinida ... <a href="https://www.paho.org/journal/es/articulos/percepciones-relacionadas-con-trombosis-vacunas-contra-covid-19" class="btn btn-outline-info btn-sm">Enlace</a></p>
    </div>
</div>
<div class="">
    <div class="col-12" style="font-family: Vogue">
        <h3>Una nueva variante en Colombia</h3>
    </div>
    <div class="col-12" style="text-align: justify; font-family: Garamond">
        <p>
            La variante delta ya está en Colombia. Fue detectada gracias al trabajo del Instituto Nacional de Salud (INS) y de la red de investigación genómica
            integrada por 19 laboratorios, entre los que se encuentra el Laboratorio de Secuenciación Gencore de la Universidad de los Andes, en donde se identificaron
            las primeras en enero de este año.
            Esta vez, la variante de origen indio fue detectada a un ciudadano en la ciudad de Cali. De esta ya se sabe que está en105 países del mundo, de los cuales
            14 son de Latinoamérica. También se conoce que puede afectar a los más jóvenes y que tiene mayor velocidad de transmisión y contagio, algo que ha despertado
            la atención de la comunidad científica y de las autoridades sanitarias en el país, por las posibles alteraciones en los mecanismos de protección inmunes de
            las vacunas usadas actualmente.  ... <a href="https://uniandes.edu.co/es/noticias/salud-y-medicina/variante-delta-en-colombia-y-mezclar-vacunas-que-hacer" class="btn btn-outline-info btn-sm">Enlace</a>
        </p>
    </div>
</div>
